:root {
  --background: #C9E4C5;
  --app: #FAEBE0;
  --color1: #5a6652;
  --color2: #C1AC95;

  --backgroundBlack: #171010;
  --appBlack: #2B2B2B;
  --color1Black: #423F3E;
  --color2Black: #c4c3c3;
}
.centerText {
  text-align: center;
}

/* APP */
.App-off {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-on {
  background-color: var(--backgroundBlack);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WeatherInf */
.WeatherApp-off {
  background-color: var(--app);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: solid var(--color1) 3px;
  border-radius: 10px;
}
.WeatherApp-on {
  background-color: var(--appBlack);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: solid var(--color1Black) 3px;
  border-radius: 10px;
}
.location {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
.position {
  text-align: center;
  font-weight: 400;
  margin-top: 0.5rem;
}
.weather {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.weather img {
  margin-right: 1rem;
}
/* Temp */
.Temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.Temp-off button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--color2);
  color: var(--color1);
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.Temp-on button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--color2Black);
  color: var(--color1Black);
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.Temp-off button:hover {
  background-color: var(--color1);
  color: var(--color2);
}
.Temp-on button:hover {
  background-color: var(--color1Black);
  color: var(--color2Black);
}
/* SearchAndUpdate */
.SearchAndUpdate-off input, .SearchAndUpdate-off button {
  background-color: var(--color2);
  color: var(--color1);
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.SearchAndUpdate-on input, .SearchAndUpdate-on button {
  background-color: var(--color2Black);
  color: var(--color1Black);
  padding: 0.5rem;
  border-radius: 5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
button {
  cursor: pointer;
  border: none;
}
.SearchAndUpdate-off button:hover {
  background-color: var(--color1);
  color: var(--color2);
}
.SearchAndUpdate-on button:hover {
  background-color: var(--color1Black);
  color: var(--color2Black);
}
input {
  border: none;
}
@media (max-width: 500px) {
  .SearchAndUpdate-off {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .SearchAndUpdate-on {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  input {
    width: 100%;
  }
}
/* WeatherIcons */
.WeatherIcons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media (max-width: 500px) {
  .WeatherIcons {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
